@import url("fonts/Roboto-Medium.ttf");

:root {
    --bw: 75px;
    --bh: 50px;
}

#calc {
    display: grid;
    grid-template-columns: repeat(7, var(--bw));
    grid-template-rows: repeat(6, var(--bh));
    gap: 5px;
}

#calc>input {
    grid-column: 2/8;
    font-size: 27px;
    border: 2px solid black;
    border-radius: 10px;
}

#calc>button {
    border-radius: 10px;
    /* box-shadow: 2px 1px 2px rgb(150, 150, 150); */
    font-weight: 400;
    font-size: 27px;
    background-color: rgba(251, 198, 149, 1);
}

#calc>button:hover {
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(251, 232, 149);

}

#calc-wrap {
    border: 3px solid black;
    padding: 20px;
    display: inline-block;
    background-color: cadetblue;
    border-radius: 10px;
}