@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

:root {
    --bw: 75px;
    --bh: 50px;
}

#calc {
    display: grid;
    grid-template-columns: repeat(6, var(--bw));
    grid-template-rows: repeat(4, var(--bh));
    gap: 5px;
}

.calc>button {
    border-radius: 10px;
    /* box-shadow: 2px 1px 2px rgb(150, 150, 150); */
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 27px;
    background-color: rgba(251, 198, 149, 1);
    transition: .2s;
}

.calc>button:hover {
    cursor: pointer;
    background-color: rgb(251, 232, 149);
}

.wrap {
    border: 3px solid black;
    padding: 20px;
    display: inline-block;
    background-color: cadetblue;
    border-radius: 10px;
    box-sizing: border-box;
}

#calc button:nth-child(34) {
    grid-column: 4/6;
}

#calc button:nth-child(1) {
    background-color: rgb(253, 98, 98);
}

#calc button:nth-child(1):hover {
    background-color: rgb(250, 129, 129);
}

#calc>input {
    grid-column: 1/7;
    font-size: 27px;
    border: 2px solid black;
    border-radius: 10px;
}

#calc>button:nth-child(6) {
    grid-column: 5/span 2;
}

#calc>button:nth-child(11) {
    grid-column: 5/span 2;
}

#calc>button:nth-child(16) {
    grid-column: 5/span 2;
}

/* #calc>button:nth-child(23) {
    grid-column: 5/span 2;
}

#calc>button:nth-child(28) {
    grid-column: 5/span 2;
} */

#calc>select {
    font-size: 27px;
    border: 2px solid black;
    border-radius: 10px;
}

.full-calc-wrap {
    display: flex;
    gap: 50px;
}

.s2 {
    display: grid;
    grid-template-columns: repeat(2, var(--bw));
    grid-auto-rows: var(--bh);
    gap: 5px;
}

.s8 {
    display: grid;
    grid-template-columns: repeat(2, var(--bw));
    grid-auto-rows: var(--bh);
    gap: 5px;
}

.s10 {
    display: grid;
    grid-template-columns: repeat(3, var(--bw));
    grid-auto-rows: var(--bh);
    gap: 5px;
}

.s10 button:nth-child(10) {
    grid-column: 1/span 3;
}

.s16 {
    display: grid;
    grid-template-columns: repeat(4, var(--bw));
    grid-auto-rows: var(--bh);
    gap: 5px;
}

.choise {
    display: grid;
    grid-template-columns: 130px var(--bw);
    grid-template-rows: repeat(3, var(--bh));
    gap: 5px;
    font-size: 20px;
    font-family: 'Roboto';
    align-items: center;
}

.choise>select {
    font-size: 27px;
    border: 2px solid black;
    height: 50px;
    border-radius: 10px;
}

.choise>input {
    font-size: 27px;
    border: 2px solid black;
    height: 44px;
    border-radius: 10px;
}